.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color);
  margin-bottom: 20px;
  /*padding-top: 9px;*/
}

.footer {
  /*height: 251px;*/
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: inline-flex;
  align-items: baseline;
  /*height: 130px;
    
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;*/
}

/*.address-container {
  margin-right: 70px;
}*/

.address-item-footer:not(:last-child) {
  margin-bottom: 9px;
}

.mail-link.footer-link,
.tel-link.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
.address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--logo-color);
}

.footer-logo .logo {
  color: var(--logo-color);
}
.footer-logo {
  /*display: flex;*/
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
}

.social {
  /*display: flex;
    flex-direction: column;*/
  width: 206px;
  margin-left: 70px;
  /*height: 80px;*/
}

.address {
  /*display: flex;*/
  width: 231px;
  height: 81px;
  /*flex-direction: column;*/
}
