/*----480----*/
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--hero-bg);
  text-align: center;
  padding: 118px 60px;
  background-size: 100%;

  background-color: var(--hero-bg);
  background-image: linear-gradient(var(--hero-gradient)),
    url(../images/hero/hero-mobile.jpg);

  position: relative;
  bottom: 1px;
  right: auto;
}

.hero-title {
  width: 400px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--button-text-hover-color);
  margin-bottom: 30px;
}

.hero-btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--button-color);
  color: var(--button-text-hover-color);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
  screen and (min-resolution: 192dpi) and (min-width: 280px),
  screen and (min-resolution: 2dppx) and (min-width: 280px) {
  .hero-container {
    background-image: linear-gradient(var(--hero-gradient)),
      url("../images/hero/hero-mobile@2x.jpg");
  }
}

/*----480----*/

/*----768----*/

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 118px 204px;
    background-image: linear-gradient(var(--hero-gradient)),
      url("../images/hero/hero-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-container {
    background-image: linear-gradient(var(--hero-gradient)),
      url("../images/hero/hero-tablet@2x.jpg");
  }
}

/*----768----*/

/*----1024----*/
@media screen and (min-width: 1200px) {
  /* .hero-container {
    background-image: linear-gradient(var(--hero-gradient)),
      url("../images/hero/hero-desktop.jpg");
  } */

  .hero-title {
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--button-text-hover-color);
    margin-bottom: 30px;
  }

  .hero-btn {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--button-color);
    color: var(--button-text-hover-color);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-container {
    background-image: linear-gradient(var(--hero-gradient)),
      url("../images/hero/hero-tablet@2x.jpg");
  }
}

/*----1024----*/

@media screen and (min-width: 1600px) {
  .hero-container {
    background-image: linear-gradient(var(--hero-gradient)),
      url("../images/hero/hero-desktop.jpg");
  }
  .hero-container {
    background-image: linear-gradient(var(--hero-gradient)),
      url("../images/hero/hero-desktop@2x.jpg");
  }
}
