h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--main-color);
}

address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-color);
}

.section {
  padding-top: 94px;
}
