:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --description-color: #757575;
  --logo-color: #ffffff;
  --button-color: #2196f3;
  --button-text-hover-color: #ffffff;
  --button-hover-color: #188ce8;
  --bg-color: #2f303a;
  --team-bg: #f5f4fa;
  --bg-btn-portfolio: #f5f4fa;
  --hero-bg: #c4c4c4;
  --social-bg: #afb1b8;
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --bg-social-td: rgba(153, 153, 153, 0.1);
}
